<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
  </head>

  <body>
    <h1>To...</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-3">
      Eat.
      <div class="listItem">
        item
      </div>
    </div>
    <div class="col-xs-3">
      Watch.
      <div class="listItem">
        item
      </div>
    </div>
    <div class="col-xs-3">
      Read.
      <div class="listItem">
        item
      </div>
    </div>
    <div class="col-xs-3">
      Buy.
      <div class="listItem">
        item
      </div>
    </div>
  </div>
</div>
  </body>
</html>
