<!DOCTYPE html>
<html lang="en">

<head>
    <title>TODO. Login.</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/login.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900" rel="stylesheet">

</head>

<body>

    <form class="login" action="/login" method="POST">
        <input class="loginemail" type="text" name="email" placeholder="Email">
        <input class="loginpassword" type="password" name="password" placeholder="Password">
        <input type="submit" value="Log In">
    </form>

    <div id="main"><b>TODO.</b></div>
    <main id="register">
        <section class="header">
            <p>SEE WHAT'S ON YOUR TODO LIST.</p>
        </section>

        <section class ="miniheader">
            <p>Join TODO. today.</p>
        </section>

        <form class="register" action="/register" method="POST">
            <input class="registeremail" type="text" name="email" placeholder="Email">
            <input class="registerpassword" type="password" name="Password" placeholder="password">
            <input type="submit" value="Log In">
        </form>
    </main>
</body>

</html>