<!DOCTYPE html>
<html lang="en">

<head>
    <title>TODO. Login.</title>

    <link rel="stylesheet" href="/styles/login.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">

</head>

<body>

    <form class="login" action="/login" method="POST">
        <input class="loginemail" type="email" name="email" placeholder="Email">
        <input class="loginpassword" type="password" name="password" placeholder="Password">
        <input type="submit" value="Log In">
    </form>
    <% if (errors.length) { %>
        <% for (const error of errors) { %>
        <p class="error">
         <%= error %>
         </p>
         <% } %>
    <% } %>
    
    <div id="main"><b>TODO.</b></div>
    <main id="register">
        <section class="header">
            <p>SEE WHAT'S ON YOUR TODO LIST.</p>
        </section>

        <section class ="miniheader">
            <p>Join TODO. today.</p>
        </section>

        <form class="register" action="/register" method="POST">
            <input class="registeremail" type="email" name="registeremail" placeholder="Email">
            <input class="registerpassword" type="password" name="registerpassword" placeholder="Password">
            <input type="submit" value="Register">
        </form>
    </main>
</body>

</html>
