<!DOCTYPE html>
<html lang="en">

<head>
    <title>TODO. Login.</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/login.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900" rel="stylesheet">

</head>

<body>

    <form class="login" action="/login" method="POST" style="margin:50px;">
        <input id="email" type="text" name="email" placeholder="email" style="width: 150px">
        <input id="password" type="password" name="password" placeholder="password" style="width: 100px">
        <input type="submit" value="Log In">
    </form>

    <div id="main"><b>TODO.</b></div>
    <div class="register">
    <h1>
        <p>SEE WHAT'S ON YOUR TODO LIST.</p>
    </h1>

    <h2>
        <p>Join TODO. today.</p>
    </h2>

    <form class="register" action="/register" method="POST" style="margin:50px;">
        <input id="email" type="text" name="email" placeholder="email" style="width: 150px">
        <input id="password" type="password" name="password" placeholder="password" style="width: 100px">
        <input type="submit" value="Log In">
    </form>
    </div>
</body>

</html>