@import "variables";

#main {
    font-size: 100px;
    padding-left: 20px;
    color: $brand-color;
}
main {
  width: 400px;
  height: 100%;
  background: white;
  float: right;
  margin-bottom: 2em;
  margin-right: 10em;
}
.header {
    font-size: 30px;
    text-align: justify;
    font-weight: 900;
    font-weight: heavy
}

.update {
    float: left;
    margin-top: 2em;
    margin-right: 2em;
}

.email_confirmation {
    width: 100%;
    margin-top: 1em;
    margin-right: 3em;
    border-color: rgba(145, 144, 144, 0.842);
    border-radius: 3px;
}

.email {
    width: 100%;
    margin-top: 1em;
    margin-right: 3em;
    border-color: rgba(145, 144, 144, 0.842);
    border-radius: 3px;
}

.password {
    width: 100%;
    margin-top: 1em;
    margin-right: 3em;
    border-color: rgba(145, 144, 144, 0.842);
    border-radius: 3px;
}

.update input[type=submit] {
    border-radius: 5px;
    background-color: $brand-color;
    color: $secondary-color;
    padding: 0.2em 2em;;
    float: right;
}
.update input[type=submit]:hover {
    border-radius: 5px;
    background-color: $brand-color;
    color: $secondary-color;
    padding: 0.2em 2em;;
    float: right;
    opacity: .8;
}