@import "variables";

.listContainer {
  padding: 24px;
}

.row {
  display: flex;
}

.listHeader {
  text-align: center;
  border: 1px solid $secondary-color;
  border-radius: 4px;
  padding-top: 8px;
}

.col-xs-3 {
  display: grid;
  grid-template-rows: 40px 1fr;
  grid-gap: 24px;
}

.itemContainer {
  display: grid;
  align-content: baseline;
  border: 1px solid $secondary-color;
  border-radius: 4px;
  height: 500px;
  overflow: scroll;
}

.toDoItem {
  margin: 15px;
  border: 1px solid $secondary-color;
  border-radius: 4px;
  height: fit-content;
  padding: 8px;
}

#modal {
  border-radius: 8px;
  font-size: small;
  background-color: $brand-color;
  color: $secondary-color;
  border: 1px solid $secondary-color;
}

.modal-footer input {
  border-radius: 8px;
  font-size: small;
  background-color: $brand-color;
  color: $secondary-color;
  border: 1px solid $secondary-color;
  padding: .5em 1em;
  
.modal-body {
  word-wrap: break-word;
}

.modal-footer button {
  border-radius: 8px;
  font-size: small;
  background-color: $brand-color;
  color: $secondary-color;
  border: 1px solid $secondary-color;
}

#dropdownmenu {
  border-radius: 8px;
  font-size: small;
  background-color: $brand-color;
  color: $secondary-color;
  border: 1px solid $secondary-color;
}

