body {
  font-family: 'Montserrat', 'sans-serif';
}

.listContainer {
  padding: 24px;
}

.listRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
}

.listHeader {
  text-align: center;
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding-top: 8px;
}

.listColumn {
  display: grid;
  grid-template-rows: 40px 1fr;
  grid-gap: 24px;
}

.itemContainer {
  display: grid;
  align-content: baseline;
  border: 1px solid lightgrey;
  border-radius: 4px;
  height: 500px;
  overflow: scroll;
}

.item {
  margin: 15px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  height: fit-content;
  padding: 8px;
}

