@import "variables";

#nav-bar{
  display: flex;
  justify-content: space-around;
  border-bottom-style: outset;
  border-bottom-width: thin;
  }

#flash {
  color: red;
  text-align: center;
  font-weight: 700;
  font-size: medium;
}

#nav-bar h1 {
  margin-left: 20%;
  font-weight: 700;
}

#half {
  width: 40%;
}

#doForm {
  height: 50px;
  margin-top: 8px;
}

#do {
  width: 95%;
  text-align: center;
  margin: 8px;
  border: 1px solid $secondary-color;
  border-radius: 4px;
  height: 70%;
}

#navButtons {
  margin-top: 1.5%;
  text-align: center;
  height: 30px;

}

#addTask {
  border-radius: 4px;
  background-color: $brand-color;
  color: $secondary-color;
  padding: 0.1em 1em;
}

#logout {
  top: 30%;
  border-radius: 4px;
  background-color: $brand-color;
  color: $secondary-color;
  padding: 0.1em 1em;
}

#edit {
  border-radius: 4px;
  background-color: $brand-color;
  color: $secondary-color;
  padding: 0.1em 1em;
}

/*#nav-bar .header {
  position: fixed;
  line-height: 2.5;
  font-weight: 300;
  font-size: 32px;
  margin-left: 10px;
}
*/
/*    color: black;
    position: fixed;
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
    z-index: 10;*/
