@import "variables";

#nav-bar{
  display: flex;
  justify-content: space-around;
  border-bottom-style: outset;
  border-bottom-width: thin;
  }

#nav-bar h1 {
  margin-left: 20%;
  font-weight: 700;
}

#nav-bar #doForm {
  height: 50px;
  margin-top: 8px;
}

#do {
  width: 95%;
  text-align: center;
  margin: 8px;
  border: 1px solid $secondary-color;
  border-radius: 4px;
  height: 70%;
}

/*#navButtons {
  margin: 8px;
  display: inline-flex;
  height: 30px;

}*/

#addTask {
  height: 30px;
  border-radius: 4px;
  background-color: $brand-color;
  color: $secondary-color;
  padding: 0.2em 2em;
}

#logout {
  top: 30%;
  margin-right: 10%;
  border-radius: 4px;
  background-color: $brand-color;
  color: $secondary-color;
  padding: 0.2em 2em;
}

#edit {
  border-radius: 4px;
  background-color: $brand-color;
  color: $secondary-color;
  padding: 0.2em 2em;
}

/*#nav-bar .header {
  position: fixed;
  line-height: 2.5;
  font-weight: 300;
  font-size: 32px;
  margin-left: 10px;
}
*/
/*    color: black;
    position: fixed;
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
    z-index: 10;*/
