.modal-header .close {
  color: red;
  border: 1px solid red;
  padding: auto;
}

.modal-header .close:hover {
  color: red;
}

.db-data {
  color: red;
  border: 1px solid red;
  margin: 1em;
}

// .modal-dialog .modal-content {
//   border: 1px solid red;
// }
